{% extends 'base.html.twig' %}

{% block title %}Registration success | Meeco{% endblock %}

{% block body %}
    <h1>Account created. Please, check your e-mail to complete registration  </h1>
{% endblock %}
