{% extends 'base.html.twig' %}

{% block title %}Reset Password Success | Meeco{% endblock %}

{% block body %}
    <h1>Reset password success</h1>
    <h3>Please check your inbox</h3>
{% endblock %}
