{% extends 'login_layout.html.twig' %}

{% block title %}Reset password | Meeco{% endblock %}

{% block login_box_msg %}Reset Password{% endblock %}

{% block login_box_error %}
    {% if error|default(false) %}
        <div class="text text-danger">{{ error }}</div>
    {% endif %}
{% endblock %}

{% block login_form %}
    <form method="post">
        <div class="form-group has-feedback">
            <input type="text" name="email" class="form-control" placeholder="Email" value="">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-block btn-gradient" type="submit">Send</button>
    </form>
{% endblock %}

{% block login_actions %}
    <br>
    <div>
        <a href="{{ path('adminlte_registration'|route_alias) }}" class="text-left">
            Create account
        </a>

        <a href="{{ path('adminlte_login'|route_alias) }}" style="float: right">
            Login
        </a>
    </div>
{% endblock %}