{% extends 'login_layout.html.twig' %}

{% block title %}Reset password | Meeco{% endblock %}

{% block login_box_msg %}Reset password{% endblock %}

{% block login_box_error %}
    {% if error|default(false) %}
        <div class="text text-danger">{{ error }}</div>
    {% endif %}
{% endblock %}

{% block login_form %}
    <form method="post" id="updatePassword">
        {% if isPasswordsEqual == false|default(true) %}
            <div class="text text-danger">Entered passwords are not same</div>
        {% endif %}
        <div class="form-group has-feedback">
            <label for="newPassword">New password:</label>
            <br>
            <input class="form-control" type="password" name="newPassword" id="newPassword">
        </div>
        <div class="form-group has-feedback">
            <label for="repeatedNewPassword">Repeat password:</label>
            <br>
            <input class="form-control" type="password" name="repeatedNewPassword" id="repeatedNewPassword">
        </div>
        <br>
        <input type="submit" value="Confirm">
    </form>

{% endblock %}

{% block login_actions %}

{% endblock %}


