{% extends 'admin_layout.html.twig' %}

{% block page_title %}Connect Google{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Auth</h4>
                </div>
                <div class="card-body">
                    <a href="{{ url }}">Connect Google</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}